# Logs
.npm
logs
*.log
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Code editors
.idea/
.vscode/
.history/

# Ignore Env files regardless of how it's used
*.env

# Main stuff to ignore
database/
package-lock.json
yarn.lock
config.js
node_modules/
.yarn-integrity
.node_repl_history
*.sh
*.db
